@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  src: local("Gilroy"), local("gilroy"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff"),
  url("../fonts/gilroyextrabold.ttf") format("ttf");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy"), local("gilroy"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff"),
  url("../fonts/gilroylight.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("opensans"), local("open-sans"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff"),
  url("../fonts/opensans.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("opensans"), local("open-sans"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff"),
  url("../fonts/opensanslight.ttf") format("ttf");
}

/*---------- Общие стили ----------*/

.page {
  min-width: 1200px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #000;
}

.page--logged .user-is-logged-out {
  display: none;
}

.page--not-logged .user-is-logged-in {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-title {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Helvetica", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 900;
  letter-spacing: 0.01em;
}

.main-title--logo {
  font-size: 48px;
  line-height: 57px;
  text-transform: uppercase;
}

.main-title--orange {
  color: #ffc600;
}

.secondary-title {
  margin: 0;
  font-family: "Gilroy", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
}

/*-- Декоративная линия --*/

.decoline {
  position: relative;
}

.decoline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%;
  margin-bottom: -3px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 30px;
}

.search__input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 20px 8px 35px;
  font-family: inherit;
  line-height: 30px;
  border: 2px solid transparent;
  border-width: 2px 0;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M15.7 14.3l-3.1-3.1A7 7 0 0 0 7 0a7 7 0 1 0 4.2 12.6l3.1 3.1c.2.2.4.3.7.3.6 0 1-.4 1-1 0-.2 0-.5-.3-.7zM2 7a5 5 0 1 1 10 0A5 5 0 0 1 2 7z'/%3E%3C/svg%3E%0A") no-repeat 5px;
  -webkit-transition: border 150ms;
  -o-transition: border 150ms;
  transition: border 150ms;
}

.search__input:focus {
  border-bottom-color: #000;
  outline: none;
}

.search__input::-webkit-input-placeholder {
  letter-spacing: 0.01em;
  opacity: 0.3;
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}

.search__input:-ms-input-placeholder {
  letter-spacing: 0.01em;
  opacity: 0.3;
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}

.search__input::placeholder {
  letter-spacing: 0.01em;
  opacity: 0.3;
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}

.search__input:hover::-webkit-input-placeholder {
  opacity: 0.6;
}

.search__input:hover:-ms-input-placeholder {
  opacity: 0.6;
}

.search__input:hover::placeholder {
  opacity: 0.6;
}

.search__button {
  padding: 8px 20px;
  font-family: inherit;
  line-height: 30px;
  color: transparent;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: border, color;
  -o-transition: border, color;
  transition: border, color;
  -webkit-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  transition-duration: 150ms;
}

.search__input:focus + .search__button,
.search__button:focus,
.search__button:active {
  color: #000;
  border: 2px solid #000;
}

.search__input:focus + .search__button:hover {
  background-color: #000;
  color: #fff;
}

.search__button:active {
  background-color: #000;
  color: #747474;
}

/*-- Кнопка --*/

.btn {
  width: 100%;
  position: relative;
  padding: 6.2% 0;
  font-family: "Gilroy", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: #000;
  background: none;
  cursor: pointer;
  z-index: 0;
  -webkit-transition: color 100ms;
  -o-transition: color 100ms;
  transition: color 100ms;
}

.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 18%;
  top: 40.5%;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3d460), color-stop(12.5%, #f3d460), color-stop(12.5%, #f1c52e), color-stop(87.5%, #f1c52e), color-stop(87.5%, #f3d460));
  background-image: -webkit-linear-gradient(#f3d460, #f3d460 12.5%, #f1c52e 12.5%, #f1c52e 87.5%, #f3d460 87.5%);
  background-image: -o-linear-gradient(#f3d460, #f3d460 12.5%, #f1c52e 12.5%, #f1c52e 87.5%, #f3d460 87.5%);
  background-image: linear-gradient(#f3d460, #f3d460 12.5%, #f1c52e 12.5%, #f1c52e 87.5%, #f3d460 87.5%);
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  z-index: -1;
}

.btn:active {
  color: #be9c22;
}

.btn:hover::before,
.btn:focus::before,
.btn:active::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #f1c52e;
  z-index: -1;
}

/*-- Хэдер --*/

.main-header {
  padding: 13px 60px 46px;
  background-image: -webkit-linear-gradient(#fff 0, #fff 40px, #f7e296 40px);
  background-image: -o-linear-gradient(#fff 0, #fff 40px, #f7e296 40px);
  background-image: linear-gradient(#fff 0, #fff 40px, #f7e296 40px)
}

.main-header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.main-header__row + .main-header__row {
  margin-top: 24px;
}

.main-header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(50% - 20px);
}

.main-header__nav {
  padding-top: 7px;
}

.main-header__user-list,
.main-header__main-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-header__user-item a,
.main-header__main-item a {
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}

.main-header__user-item a:hover,
.main-header__main-item a:hover {
  opacity: 0.6;
}

.main-header__user-item a:active,
.main-header__main-item a:active {
  opacity: 0.3;
}

.main-header__user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.main-header__user-item:first-of-type {
  margin-right: auto;
}

.main-header__user-item:not(:first-of-type) {
  margin-left: 43px;
}

.main-header__user-item a {
  text-decoration: none;
  color: #000;
}

.main-header__user-login a {
  margin-left: 15px;
  opacity: 0.3;
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}

.main-header__user-login a:hover {
  opacity: 0.6;
}

.main-header__user-login a:active,
.main-header__user-login a:focus {
  opacity: 1;
}

.main-header__main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header__main-item {
  margin-right: 36px;
}

.main-header__main-item:nth-of-type(3n) {
  margin-left: auto;
  margin-right: 0;
}

.main-header__main-item a {
  text-decoration: none;
  color: #000;
}

.main-header__main-item > a {
  font-family: "Gilroy", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.2em;
  color: #000;
  text-transform: uppercase;
}

.main-header__row--relative {
  position: relative;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  left: -60px;
  right: -60px;
  padding: 20px 60px 32px;
  background-color: #f7e296;
}

.catalog-opener {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-right: 28px;
  cursor: pointer;
}

.catalog-opener::before,
.catalog-opener::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  right: 0;
  bottom: 50%;
  margin-bottom: -1px;
  background-color: #b9a975;
  opacity: 1;
}

.catalog-opener::before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.catalog-list__category {
  width: 160px;
  margin: 0 40px 0 0;
  padding: 0;
  list-style-type: none;
}

.catalog-list__category:first-of-type {
  width: 200px;
}

.catalog-list__item {
  margin-bottom: 6px;
}

.hidden {
  display: none;
}

/*-- Футер --*/

.main-footer {
  padding-top: 53px;
  padding-bottom: 50px;
  background-color: #464646;
  color: #fff;
}

.main-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-footer__column--tiny {
  width: 100px;
}

.main-footer__column--short {
  width: 360px;
}

.main-footer__column--medium {
  width: 440px;
}

.main-footer__column--long {
  width: 960px;
}

.main-footer__logo-and-user {
  margin-bottom: 11px;
}

.main-footer__user-list,
.main-footer__main-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.main-footer__user-item,
.main-footer__main-item {
  list-style-type: none;
}

.main-footer__user-item a,
.main-footer__main-item a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}

.main-footer__user-item a:hover,
.main-footer__main-item a:hover,
.main-footer__user-item a:focus,
.main-footer__main-item a:focus {
  opacity: 0.6;
}

.main-footer__user-item a:active,
.main-footer__main-item a:active {
  opacity: 0.3;
}

.main-footer__user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.main-footer__user-item:not(:first-of-type) {
  margin-left: 40px;
}

.main-footer__main-item:not(:first-of-type) {
  margin-left: 37px;
}

.main-footer__main-menu {
  margin-bottom: 33px;
}

.main-footer__main-item a {
  font-family: "Gilroy", "Helvetica", sans-serif;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 0.15em;
  color: #fff;
  text-transform: lowercase;
  font-variant: small-caps;
}

.main-footer__phone {
  margin-left: auto;
}

.main-footer__phone a {
  color: #fff;
  text-decoration: none;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
}

.socials--footer {
  position: relative;
  padding-left: 100px;
}

.socials-item {
  list-style-type: none;
}

.socials-item a {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 11px;
  opacity: 0.3;
  -webkit-transition: opacity 150ms;
  -o-transition: opacity 150ms;
  transition: opacity 150ms;
}

.socials-item a:hover,
.socials-item a:focus {
  opacity: 0.6;
}

.socials-item a:active {
  opacity: 0.1;
}

.socials__fb {
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23FFF' d='M16 0a16 16 0 1 0 0 32 16 16 0 0 0 0-32zm4 9.5h-3v3.4h3v3.4h-3V25h-3v-8.7h-3V13h3V9.5c0-2 1.4-3.5 3-3.5h3v3.5z'/%3E%3C/svg%3E%0A") no-repeat center;
}

.socials__inst {
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='%23FFF'%3E%3Cpath d='M21 16a5 5 0 1 1-9.8-1.1h-1v6.8h11.5v-6.8h-1c.2.3.2.7.2 1.1z M16 18.7a2.7 2.7 0 1 0 0-5.4 2.7 2.7 0 0 0 0 5.4zM18.6 10.3h3v3h-3z M16 0a16 16 0 1 0 0 32 16 16 0 0 0 0-32zm8 21.7c0 1.3-1 2.3-2.3 2.3H10.3C9 24 8 23 8 21.7V10.3C8 9 9 8 10.3 8h11.4c1.2 0 2.3 1 2.3 2.3v11.4z'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center;
}

.socials__twit {
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23FFF' d='M16 0a16 16 0 1 0 0 32 16 16 0 0 0 0-32zm8 12.8c-.3 6.5-3.5 10.8-11 10.7h-.3-.2c-.5 0-4.6-.4-5.4-1.8 2.5.2 4.3-.4 5.1-1.1-1-.3-2.9-.5-3.2-2.9.4.1.6.2 1.3.1-1.3-.8-2.8-1.5-2.7-3.6.3.3 1.2.5 1.5.4-.8-.2-2.2-3.2-1-4.7 2 1.7 4 3.4 7.8 3.6.2-2.2 1.2-3.7 3.2-4.3 1.8-.5 3.2.2 3.9 1.1l2.2-.7c0 .9-.6 1.5-1 1.7.8.2 1.5-.4 1.5-.4a3 3 0 0 1-1.8 2z'/%3E%3C/svg%3E%0A") no-repeat center;
}

.academy-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.academy-logo a {
  width: 27px;
  height: 35px;
  opacity: 1;
  -webkit-transition: opacity 150ms;
  -o-transition: opacity 150ms;
  transition: opacity 150ms;
  background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.9' height='34.1' viewBox='0 0 26.943 34.09'%3E%3Cpath d='M13.6 0h-.1L0 1.4v24.7l13.5 8 13.4-8V1.4L13.6 0zM25 12.1L13.5 5.3h-.2L2 12.1v-9L13.5 2 25 3.1v9zM13.4 6.8L25 13.5l-4.5 2.6-7-4.2v1.4l5.8 3.5-.8.6-5-3v1.4l3.8 2.3-.8.5-3-1.8v1.4l1.8 1-1.8 1.2L2 13.6l11.4-6.8zM1.9 15L13.3 22v1l-7.9-4.7v1.4l8 4.8v1.1l-8-4.7v1.4l8 4.8 8.2-4.8V17l3.4-2v10l-11.5 6.9-11.6-7v-9.8z' fill='%23ffc600'/%3E%3C/svg%3E%0A") no-repeat center;
}

.academy-logo a:hover {
  opacity: 0.6;
}

.academy-logo a:active {
  opacity: 0.3;
}

.academy-logo--footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
}

.academy-logo--footer a {
  margin-left: auto;
}

/*---------- Стили каталога ----------*/

.flexit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bg-gradient-whitegray {
  background-image: -webkit-gradient(linear, left top, right top, from(#efefef), color-stop(50%, #efefef), color-stop(50%, #fff), to(#fff));
  background-image: -webkit-linear-gradient(left, #efefef, #efefef 50%, #fff 50%, #fff);
  background-image: -o-linear-gradient(left, #efefef, #efefef 50%, #fff 50%, #fff);
  background-image: linear-gradient(to right, #efefef, #efefef 50%, #fff 50%, #fff);
}

.main-header--bottom-spaced {
  margin-bottom: 32px;
}

.crumbs {
  margin: 0 60px;
}

.crumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 16px 0 43px;
}

.crumbs__item {
  list-style-type: none;
}

.crumbs__item:not(:last-of-type) {
  position: relative;
  margin-right: 18px;
  padding-right: 20px;
}

.crumbs__item:not(:last-of-type)::before,
.crumbs__item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 1px;
  right: 0;
  bottom: 50%;
  margin-bottom: -3px;
  background-color: #000;
}

.crumbs__item:not(:last-of-type)::before {
  -webkit-transform: translateY(-230%) rotate(45deg);
  -ms-transform: translateY(-230%) rotate(45deg);
  transform: translateY(-230%) rotate(45deg);
}

.crumbs__item:not(:last-of-type)::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.crumbs__item a,
.crumbs__item span {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  opacity: 0.3;
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}

.crumbs__item a:hover,
.crumbs__item a:focus,
.crumbs__item span:hover {
  opacity: 0.6;
}

.crumbs__item a:active {
  opacity: 0.1;
}

.upper-shop-line {
  background-image: -webkit-gradient(linear, left top, right top, from(#dcdcdc), color-stop(50%, #dcdcdc), color-stop(50%, #ebebeb), to(#ebebeb));
  background-image: -webkit-linear-gradient(left, #dcdcdc, #dcdcdc 50%, #ebebeb 50%, #ebebeb);
  background-image: -o-linear-gradient(left, #dcdcdc, #dcdcdc 50%, #ebebeb 50%, #ebebeb);
  background-image: linear-gradient(to right, #dcdcdc, #dcdcdc 50%, #ebebeb 50%, #ebebeb);
}

.upper-shop-line__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}

.upper-shop-line__pseudo-title {
  width: 270px;
  padding: 20px 0;
  padding-left: 2px
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 760px;
  padding: 20px 0;
  padding-top: 18px;
  padding-left: 72px;
  background-color: #ebebeb;
}

.sorting h2 {
  width: 160px;
  margin-left: 0;
}

.sorting__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 480px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.sorting__item:first-of-type {
  margin-left: 21px;
}

.sorting__item {
  margin-right: 30px;
  list-style-type: none;
}

.sorting__item a {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  letter-spacing: normal;
  color: #000;
  opacity: 0.3;
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}

.sorting__item a:hover,
.sorting__item a:focus {
  opacity: 0.6;
}

.sorting__item a:active {
  opacity: 1;
}

.sorting__triangles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
}

.sorting__item--triangle {
  position: relative;
}

.sorting__asc,
.sorting__desc {
  position: absolute;
  border-style: solid;
}

.sorting__asc {
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent #231f20 transparent;
}

.sorting__desc {
  border-width: 10px 5.5px 0 5.5px;
  border-color: #231f20 transparent transparent transparent;
}

.filter {
  width: 200px;
  margin-top: 68px;
  padding-left: 60px;
  margin-right: 70px;
}

.filter__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  border: none;
}

.filter__field--middle {
  margin-bottom: 30px;
}

.filter__field--bottom {
  margin-bottom: 24px;
}

.filter__legend {
  width: 100%;
  margin-bottom: 14px;
  padding-top: 8px;
  border-top: 2px solid #000;
  font-family: "Gilroy", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 900;
}

.filter__range {
  position: relative;
  height: 2px;
  margin-top: 16px;
  margin-bottom: 29px;
  background-image: -webkit-linear-gradient(left, #91c92f, #91c92f 110px, #dbdbdb 110px, #dbdbdb);
  background-image: -o-linear-gradient(left, #91c92f, #91c92f 110px, #dbdbdb 110px, #dbdbdb);
  background-image: linear-gradient(to right, #91c92f, #91c92f 110px, #dbdbdb 110px, #dbdbdb)
}

.filter__round-buttons {
  position: absolute;
  width: 21px;
  height: 21px;
  bottom: -8px;
  border: none;
  border-radius: 50%;
  background-color: #ababab;
  -webkit-box-shadow: inset 0 0 0 8px #fff,
  0 2px 1px #dadada;
  box-shadow: inset 0 0 0 8px #fff,
  0 2px 1px #dadada;
}

.filter__round-buttons span {
  position: absolute;
  display: block;
  width: 90px;
  top: 22px;
  font-size: 14px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  line-height: 22px;
  font-weight: 300;
  text-align: left;
  text-transform: lowercase;
  opacity: 0.2;
}

.filter__round-buttons--from {
  left: -7px;
}

.filter__round-buttons--to {
  left: 106px;
}

.filter__round-buttons--to span {
  left: -15px;
}

.filter__round-buttons:active {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  outline: none;
}

.filter__label {
  position: relative;
  margin-bottom: 5px;
  padding: 6px 0;
  padding-left: 40px;
  font-size: 14px;
  line-height: 23px;
}

.filter__label::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
}

.filter__label:hover::before,
.filter__label--radio:hover::after,
.filter__input:focus + .filter__label::before,
.filter__input:focus + .filter__label--radio::after {
  opacity: 0.6;
}

.filter__label--checkbox::before {
  width: 27px;
  height: 23px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath d='M20 2c.5 0 1 .5 1 1v17c0 .5-.5 1-1 1H3a1 1 0 0 1-1-1V3c0-.5.5-1 1-1h17m0-2H3a3 3 0 0 0-3 3v17a3 3 0 0 0 3 3h17a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3z'/%3E%3C/svg%3E%0A") no-repeat left top;
}

.filter__input:checked + .filter__label--checkbox::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath d='M7.3 7.5l-2.8 2.8 7.7 7.8 14-14-2.9-2.8-11 11.1z M21 20c0 .5-.5 1-1 1H3a1 1 0 0 1-1-1V3c0-.5.5-1 1-1h17L21.4.4A3 3 0 0 0 20 0H3a3 3 0 0 0-3 3v17a3 3 0 0 0 3 3h17a3 3 0 0 0 3-3v-9.8l-2 2V20z'/%3E%3C/svg%3E") no-repeat left top;
}

.filter__label--radio::before {
  width: 16px;
  height: 16px;
  border: 4.5px solid #000;
  border-radius: 50%;
}

.filter__input:active .filter__label--radio::before {
  opacity: 1;
}

.filter__input:checked + .filter__label--radio::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 8px;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: #000;
}

.filter__input:active + .filter__label--radio::after {
  opacity: 0;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 71px;
  background: #fff;
}

.shop__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 69px;
}

.product-card {
  position: relative;
  width: 360px;
  margin-bottom: 50px;
}

.product-card__inner {
  margin-bottom: 20px;
}

.product-card__inner img {
  max-width: 100%;
  background-color: #eee;
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}

.product-card__inner:hover img {
  opacity: 0.7;
}

.product-card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  top: 165px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
}

.product-card__buttons button {
  opacity: 0;
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}

.product-card__inner:hover button,
.product-card__button:hover,
.product-card__button:focus {
  opacity: 1;
}

.product-card__inner:hover .product-card__button--add {
  opacity: 0.5;
}

.product-card__button.product-card__button--add:hover {
  opacity: 1;
}

.product-card__button.product-card__button--add:active {
  opacity: 0.2;
}

.product-card__button--add {
  font-family: inherit;
  font-size: 13px;
  line-height: 36px;
  border: none;
  background: none;
  letter-spacing: 0.01em;
  opacity: 0.5;
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
  cursor: pointer;
}

.product-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.product-card__info a {
  text-decoration: none;
}

.product-card__name {
  margin: 0;
  width: 260px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
  color: #000;
}

.product-card__price {
  font-family: "Gilroy", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: -11px;
  margin-bottom: 73px;
  background-color: #ebebeb;
}

.paginator__list {
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.paginator__item {
  list-style-type: none;
}

.paginator__item a {
  padding: 25px 14px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
  opacity: 0.3;
}

.paginator__item--active a,
.paginator__item--outer a {
  opacity: 1;
}

.paginator__item--outer a {
  display: inline-block;
  margin: 0;
  padding: 20px 30px;
  -webkit-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;
}

.paginator__item--outer:hover,
.paginator__item--outer:focus,
.paginator__item--outer:active {
  background-color: #d9d9d9;
}

.paginator__item--outer:active a {
  opacity: 0.3;
}
