@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  src: local("Gilroy"), local("gilroy"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff"),
  url("../fonts/gilroyextrabold.ttf") format("ttf");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy"), local("gilroy"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff"),
  url("../fonts/gilroylight.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("opensans"), local("open-sans"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff"),
  url("../fonts/opensans.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("opensans"), local("open-sans"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff"),
  url("../fonts/opensanslight.ttf") format("ttf");
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}

.user-is-logged-out {
  display: none;
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-header {
  padding: 26px 60px 55px;
  background-image: linear-gradient(#fff 0, #fff 40px, #f7e296 40px)
}

.main-header__nav {
  padding-top: 19px;
}

.main-header__user-list,
.main-header__main-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-header__user-item:first-of-type {
  margin-right: auto;
}

.main-header__user-item:not(:first-of-type) {
  margin-left: 40px;
}

.main-header__user-item a {
  text-decoration: none;
  color: #000;
}

.main-title {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Helvetica", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.main-header__row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.main-header__row + .main-header__row {
  margin-top: 22px;
}

.main-header__column {
  width: calc(50% - 20px);
}

.main-header__user-list {
  display: flex;
  flex-wrap: wrap;
}

.search {
  display: flex;
}

.search__button {
  padding: 8px 20px;
  border: 2px solid #000;
  line-height: 30px;
  background-color: transparent;
}

.search__input {
  flex-grow: 1;
  padding: 8px 20px;
  border: 2px solid transparent;
  line-height: 30px;
  background-color: transparent;
}

.search__input:focus {
  border-bottom-color: #000;
  outline: none;
}

.main-header__main-list {
  display: flex;
}

.main-header__main-item > a {
  font-family: "Gilroy", "Helvetica", sans-serif;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 0.15em;
  color: #000;
  text-transform: lowercase;
  font-variant: small-caps;
}

.main-header__main-item {
  margin-right: 39px;
}

.main-header__main-item:nth-of-type(3n) {
  margin-left: auto;
  margin-right: 0;
}

.main-header__main-item a {
  text-decoration: none;
  color: #000;
}

.main-header__row--relative {
  position: relative;
}

.catalog-list {
  display: flex;
  position: absolute;
  left: -60px;
  right: -60px;
  padding: 20px 60px 32px;
  background-color: #f7e296;
}

.catalog-opener {
  cursor: pointer;
}

.catalog-list__category {
  width: 160px;
  margin: 0;
  margin-right: 40px;
  padding: 0;
  list-style-type: none;
}

.catalog-list__category:first-of-type {
  width: 200px;
}

.catalog-list__item {
  margin-bottom: 6px;
}

.hidden {
  display: none;
}
